{% extends "base.html" %}

<!-- {% block title %}Leeing's Blog{% endblock %} -->

{% block main %}
  <div class="m-about">
    <header class="header">
      <div class="logo"></div>
      <div class="right-side">
        <a href="#" class="music">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a href="#" class="skip"></a>
      </div>
    </header>
    <div class="bg-picture">
      <canvas id="canvas"></canvas>
    </div>
    <div class="container">
      <div class="god">
        <h1 class="motto">天空之城，九分努力</h1>
        <h3 class="about-me">ABOUT ME</h3>
        <div class="my-status">
          <h3 class="title">我的动态</h3>
          <div class="new-list">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="about">
        <div class="info">
          <a href="#" class="avatar">
            <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="avatar">
          </a>
          <ul class="contact">
            <li>Email</li>
            <li>Git</li>
            <li>Zhihu</li>
            <li>Wechat</li>
            <li>Netease</li>
          </ul>
          <a href="#" class="resume"></a>
        </div>
        <div class="info">
          <h3>BELEIVE</h3>
          <hr>
          <p class="wel-info"></p>
        </div>
        <div class="info">
          <h3>ENJOY</h3>
          <hr>
          <p>1</p>
          <p>2</p>
          <p>3</p>
        </div>
        <div class="info">
          <h3>PROGRESS</h3>
          <hr>
          <ul class="experience">
            <li>
              <time></time>
              <div>
                <p></p>
                <p></p>
              </div>
            </li>
            <li>
              <time></time>
              <div>
                <p></p>
                <p></p>
              </div>
            </li>
            <li>
              <time></time>
              <div>
                <p></p>
                <p></p>
              </div>
            </li>
            <li>
              <time></time>
              <div>
                <p></p>
                <p></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="info">
          <h3>SKILLS</h3>
          <hr>
          <ul class="skill">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
