{% extends "base.html" %}
{% block title %}Article{% endblock %}
{% block my_link %}
  {{super()}}
  <link rel="stylesheet" href="../../static/css/article.css">
{% endblock %}

{% block page_content %}
  <div class="m-article">
    <div class="col-md-4 col-sm-6">
      <article>
        <a href="#">
          <div class="avatar">
            <p class="info">
              <span>
                <i class="icon iconfont icon-browse"></i>
                <span class="browse-num">32</span>
              </span>
              <span>
                <i class="icon iconfont icon-enshrine"></i>
                <span class="enshrine-num">4</span>
              </span>
              <span>
                <i class="icon iconfont icon-message"></i>
                <span class="comment-num">12</span>
              </span>
            </p>
          </div>
          <footer>
            <p class="title">圣诞节快乐</p>
            <p class="time">2017-12-25 - Christmas</p>
          </footer>
        </a>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <a href="#">
          <div class="avatar">
            <p class="info">
              <span>
                <i class="icon iconfont icon-browse"></i>
                <span class="browse-num">12</span>
              </span>
              <span>
                <i class="icon iconfont icon-enshrine"></i>
                <span class="enshrine-num">5</span>
              </span>
              <span>
                <i class="icon iconfont icon-message"></i>
                <span class="comment-num">52</span>
              </span>
            </p>
          </div>
          <footer>
            <p class="title">酒不醉人人自醉</p>
            <p class="time">2017-12-24 - Christmas Eve</p>
          </footer>
        </a>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <a href="#">
          <div class="avatar">
            <p class="info">
              <span>
                <i class="icon iconfont icon-browse"></i>
                <span class="browse-num">32</span>
              </span>
              <span>
                <i class="icon iconfont icon-enshrine"></i>
                <span class="enshrine-num">4</span>
              </span>
              <span>
                <i class="icon iconfont icon-message"></i>
                <span class="comment-num">12</span>
              </span>
            </p>
          </div>
          <footer>
            <p class="title">中国美术馆</p>
            <p class="time">2017-12-17 - Dongsi</p>
          </footer>
        </a>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <a href="#">
          <div class="avatar">
            <p class="info">
              <span>
                <i class="icon iconfont icon-browse"></i>
                <span class="browse-num">22</span>
              </span>
              <span>
                <i class="icon iconfont icon-enshrine"></i>
                <span class="enshrine-num">6</span>
              </span>
              <span>
                <i class="icon iconfont icon-message"></i>
                <span class="comment-num">32</span>
              </span>
            </p>
          </div>
          <footer>
            <p class="title">是时候补补脑子了</p>
            <p class="time">2017-12-25 - Brain storm</p>
          </footer>
        </a>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <a href="#">
          <div class="avatar">
            <p class="info">
              <span>
                <i class="icon iconfont icon-browse"></i>
                <span class="browse-num">32</span>
              </span>
              <span>
                <i class="icon iconfont icon-enshrine"></i>
                <span class="enshrine-num">34</span>
              </span>
              <span>
                <i class="icon iconfont icon-message"></i>
                <span class="comment-num">1</span>
              </span>
            </p>
          </div>
          <footer>
            <p class="title">喵了个喵~</p>
            <p class="time">2017-12-24 - Miao~</p>
          </footer>
        </a>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <a href="#">
          <div class="avatar">
            <p class="info">
              <span>
                <i class="icon iconfont icon-browse"></i>
                <span class="browse-num">42</span>
              </span>
              <span>
                <i class="icon iconfont icon-enshrine"></i>
                <span class="enshrine-num">14</span>
              </span>
              <span>
                <i class="icon iconfont icon-message"></i>
                <span class="comment-num">2</span>
              </span>
            </p>
          </div>
          <footer>
            <p class="title">岁月静好</p>
            <p class="time">2017-12-25 - Fleeting-Time</p>
          </footer>
        </a>
      </article>
    </div>
  </div>
{% endblock %}